*{
  margin: 0;
  padding: 0;
}


.head{
  word-spacing: 175px;
  color: black;
  background-color: aqua;
  height: 50px;
  /* display: block; */
  text-align: center;
  padding-top: 25px;
  font-size: 25px;
  
}

header a{
  color: black;
  text-decoration: none;

}

.maine{
  background-color: green;
  height: 50rem ;
  width: 120rem;
}
.first{
width: 350px;
margin-bottom: 500x;
text-align: center;
}